.budgetBlock {
    margin-top: 35px;
    padding: 0;
    /*border: 1px solid #eee;*/
}

table caption {
    text-align: left;
    /*font-weight: bold;*/
}

option.disabled {
    color: rgba(126, 122, 122, 0.51)
}