@{
    ViewBag.Title = "Фінасові центри не знайдені";
}

<h2>Центри фінансової відповідальності не знайдені</h2>
<p>Щоб додати новий центр фінансової відповідальності перейдіть по @Html.ActionLink("цьому посиланню.", "Create") </p>