@{
    ViewBag.Title = "Стартова сторінка";
}
<div class="page-header">
    <h2>
       Вітаємо Вас у системі бюжетування!
    </h2>
</div>

<div class="row-fluid">
    <div class="span12">
        <p class="lead">
            Тут відображаються останні зміни.
        </p>
    </div>
</div>
