@if(Request.IsAuthenticated) {
    <span class="text-info">Вітаємо <strong>@User.Identity.Name</strong>!
    @Html.ActionLink("[Вийти]", "LogOff", "Account", null,  new { @class = "btn btn-inverse" }) </span>
}
else {
    @: @Html.ActionLink("Ввійти", "LogOn", "Account", null,  new { @class = "btn btn-inverse" }) 
}
