@{
    ViewBag.Title = "Порожній бюджетний довідник";
}

<h2>Порожній бюджетний довідник</h2>
<p>В вашому бюджетному довіднику немає жодної бюджетної категорії. Перейдіть @Html.ActionLink("по цьому посиланню", "Create")
    , щоб додати нову бюджетну катеорію</p>
